.layout {
    .header {
        border: 1px solid black;
        height: 100px;
        display: flex;
        justify-content: space-between;

        .logo {
            width: 100px;
            height: 100px;
        }

        .nav-list {
            padding: 10px;
            margin: 20px;

            > ul {
                list-style-type: none;
                display: flex;

                li {
                    padding: 10px;
                    margin: 10px;
                    cursor: pointer;
                }
            }
        }
    }

    .main-container {
        padding: 10px 0;
        /* margin: 10px; */

        .search {
            height: 50px;
            border: 0.5px solid #ccc2c2;
            display: flex;
            justify-content: center;
        }

        .res-container {
            border: 1px solid #908a8a;
            padding: 12px;
            display: flex;
            flex-wrap: wrap;
            min-height: 500px;

            .res-card:hover {
                background: rgb(240, 202, 186);
                .info {
                    color: white;
                }
            }

            .res-card {
                /* height: 250px; */
                width: 200px;
                border: 1px solid rgb(158, 102, 102);
                border-radius: 5px;
                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
                margin: 15px;
                cursor: pointer;

                img {
                    padding: 5px;
                    width: 180px;
                    margin: 5px;
                    /* height: 100px; */
                }

                .info {
                    color: rgba(78, 7, 16, 0.595);
                    padding-bottom: 18px;
                }
            }
        }
    }
}

.d-block {
    display: block;
}